@font-face {
    font-family: 'electrolize';
    font-style: normal;
    font-weight: 400;
    src: local('electrolize'), url(electrolize.ttf) format('truetype');
}

@font-face {
    font-family: 'krona';
    font-style: normal;
    font-weight: 400;
    src: local('krona'), url(krona.ttf) format('truetype');
}


body {
    background-color: rgb(50,30,21);
    font-family: 'electrolize', sans-serif;
}

a:link img, a:visited img {
    border-width: 0px;
}

#header {
    position: relative;
    margin: auto;
    width: 800px;
    height: 192px;
    padding-bottom: 5px;
}

#logo #avatar {
    position: absolute;
    top: 10px;
    right: 210px;
}

#logo #avatar:hover {
    top: 12px;
}

#logo #tag {
    width: 450px;
    position: absolute;
    left: 30px;
    bottom: 15px;
    text-align: left;
    color: red;
    font-size: 24pt;
}

#logo #tag .unix {
    color: red;
}

#logo #tag .beep-boop {
    color: rgb(190,142,102);
}

#logo #letters {
    position: absolute;
    top: 50px;
    left: 0px;
}

#logo #tag {
    position: absolute;
    bottom: 20px;
    left: 0px;
}

#footer {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding-top: 50px;
    width: 800px;
    border-top: 8px solid rgb(92,62,37);
}

#banner {
    width: 700px;
    margin: auto;
    background-color: rgb(92,62,37);
    color: rgb(190,142,102);
    position: relative;
    top: -20px;
    margin-bottom: -25px;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

#banner:hover {
    cursor: pointer;
    color: rgb(190,190,220);
}

#banner::before {
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 20px solid transparent;
    border-right: 20px solid rgb(50,30,21);
    position: absolute;
    top: 0px;
    right: 0px;
}

#banner::after {
    content: '';
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-left: 20px solid rgb(50,30,21);
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#banner .desc {
    display: inline-block;
    width: 310px;
    vertical-align: top;
    margin-top: 25px;
    margin-left: 10px;
}

#banner img {
    margin-top: -10px;
}

#banner a:link,
#banner a:visited {
    color: rgb(190,190,220);
}

#banner a:hover {
    color: rgb(130,130,250);
}

#icons {
    display: inline-block;
    width: 150px;
    top: 0px;
    right: 0px;
}

#icons a img {
    border: 0px;
}

#icons .icon {
    position: absolute;
    top: 400px;
    padding: 2px;
}

#icons .icon.github {
    top: 85px;
    right: 50px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
}

#icons .icon.github:hover {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}

#icons .icon.npm {
    top: 145px;
    right: 15px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
}

#icons .icon.npm:hover {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
}

#icons .icon.gittip {
    top: 80px;
    right: -13px;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

#icons .icon.gittip:hover {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    transform: rotate(5deg);
}

#icons .icon.twitter {
    top: 150px;
    right: 110px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
}

#icons .icon.twitter:hover {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
}

#icons .icon.facebook {
    top: 160px;
    right: 65px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#icons .icon.facebook:hover {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}

#icons .icon.soundcloud {
    top: 50px;
    right: 65px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#icons .icon.soundcloud:hover {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}

#icons .icon.lanyrd {
    top: 40px;
    right: 20px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
}

#icons .icon.lanyrd:hover {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
}

#icons .icon.youtube {
    top: 10px;
    right: 55px;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

#icons .icon.youtube:hover {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
}

#sections {
    display: inline-block;
    margin-left: 10px;
    font-size: 20pt;
    
    position: absolute;
    right: 95px;
    top: 5px;
}

#sections .section.art {
    font-size: 25pt;
}

#sections .section.code {
    font-size: 30pt;
}

#sections .section.mad-science {
    font-size: 15pt;
}

#sections .section.s0 {
    -webkit-transform: rotate(-50deg) translate(-15px, -35px); 
    -moz-transform: rotate(-50deg) translate(-15px, -35px); 
    transform: rotate(-50deg) translate(-15px, -35px); 
}

#sections .section.s1 {
    -webkit-transform: rotate(-30deg) translate(0px, -13px); 
    -moz-transform: rotate(-30deg) translate(0px, -13px); 
    transform: rotate(-30deg) translate(0px, -13px); 
}

#sections .section.s2 {
    -webkit-transform: rotate(-15deg) translate(10px, -3px); 
    -moz-transform: rotate(-15deg) translate(10px, -3px); 
    transform: rotate(-15deg) translate(10px, -3px); 
}

#sections .section.s3 {
    -webkit-transform: rotate(3deg) translate(15px, 0px); 
    -moz-transform: rotate(3deg) translate(15px, 0px); 
    transform: rotate(3deg) translate(15px, 0px); 
}

#sections .section.s4 {
    -webkit-transform: rotate(15deg) translate(10px, 0px); 
    -moz-transform: rotate(15deg) translate(10px, 0px); 
    transform: rotate(15deg) translate(10px, 0px); 
}

#sections .section a {
    border-radius: 3px;
}

#sections .section a:link,
#sections .section a:visited {
    text-decoration: none;
    color: rgb(190,142,102);
}

#sections .section.active a:link,
#sections .section.active a:visited {
    color: red;
}

#sections .section a:hover {
    background-color: red;
    color: white;
}

#sections .section.active a:hover {
    color: white;
}

#content {
    margin-top: 20px;
    color: white;
}

#content a:link,
#content a:visited {
    color: rgb(40,200,255);
    text-decoration: none;
}

#content a:hover {
    text-decoration: underline;
}

.box {
    position: relative;
}

.box .top-corner {
    width: 0px;
    height: 0px;
    border-bottom: 40px solid transparent;
    border-right: 40px solid rgb(50,30,21);
    position: absolute;
    top: 0px;
    right: 0px;
}

.box .bottom-corner {
    width: 0px;
    height: 0px;
    border-top: 40px solid transparent;
    border-left: 40px solid rgb(50,30,21);
    position: absolute;
    bottom: 0px;
    left: 0px;
}
  
.more {
    margin: auto;
    font-size: 2em;
    padding: 20px;
    background-color: rgb(255,40,40);
    color: white;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}
  
.more:hover {
    background-color: red;
    color: white;
}

#root {
    max-width: 890px;
    margin: auto;
}

#root .article {
    position: relative;
    margin-bottom: 20px;
}

#root .article.summary .body {
    max-height: 150px;
    overflow: hidden;
}

#root .article.summary {
    cursor: pointer;
}

#root .article.summary .fade {
    display: block;
    height: 100px;
    position: absolute;
    bottom: 40px;
    left: 5px;
    right: 5px;
    
    background-image: -webkit-linear-gradient(bottom,rgba(245,240,220,1.0),rgba(245,240,220,0));
    background-image: -moz-linear-gradient(bottom,rgba(245,240,220,1.0),rgba(245,240,220,0));
    background-image: linear-gradient(to top,rgba(245,240,220,1.0),rgba(245,240,220,0));
}

#root .article .label {
    display: inline-block;
    width: 10ex;
}

#root .article .line {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#root .article .title {
    background-color: rgb(240,30,30);
    color: white;
    font-size: 24px;
    padding: 5px;
    padding-left: 15px;
    margin-right: 40px;
    height: 30px;
}

#root .article.summary:hover .title {
    background-color: red;
}

#root .article .title a:link,
#root .article .title a:visited {
    color: white;
}

#root .article .top-corner {
    width: 0px;
    height: 0px;
    border-top: 40px solid transparent;
    border-left: 40px solid rgb(240,30,30);
    position: absolute;
    top: 0px;
    right: 0px;
}

#root .article .header {
    color: rgb(69,44,28);
    background-color: rgb(220,210,170);
    padding-bottom: 5px;
    padding-top: 5px;
}

#root .article.summary:hover .header {
    background-color: rgb(230,230,200);
}

#root .article .body {
    color: rgb(69,44,28);
    background-color: rgb(245,240,220);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    line-height: 150%;
    font-family: 'krona', sans-serif;
}
#root .article.summary:hover .body {
    background-color: white;
}

#root .article .bottom-corner {
    width: 0px;
    height: 0px;
    border-bottom: 40px solid transparent;
    border-right: 40px solid rgb(245,240,220);
    margin-bottom: 10px;
}

#root .article .bottom-fill {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 40px;
    height: 40px;
    background-color: rgb(245,240,220);
}

#root > pre {
    margin: auto;
    width: 300px;
    background-color: rgb(92,62,37);
    padding: 20px;
    border-radius: 10px;
}

#root .article pre {
    padding: 10px;
    color: rgb(69,44,28);
    background-color: rgb(220,210,170);
}

#root .article .article-code-anchor {
    font-size: 0.8em;
    margin-bottom: -1em;
    display: block;
    text-align: right;
}

#root .article .article-code-anchor:link,
#root .article .article-code-anchor:visited {
    color: rgb(190,142,102);
}

#root .article a:link,
#root .article a:visited {
    color: rgb(90,90,180);
}

#root .article a:hover {
    color: rgb(130,130,250);
}

#root .more {
    width: 450px;
    margin-bottom: 20px;
}

.hide {
    display: none;
}

#footer a:link,
#footer a:visited {
    color: rgb(190,142,102);
    font-size: 24pt;
}
